{% extends 'base.html' %}
{% load materializecss %}

{% block page_title %}Password reset page{% endblock %}
{% block page_header %}Forgot Your Password?{% endblock %}

{% block content %}

<p>Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="POST">
    {% csrf_token %}
    {{ form|materializecss }}

    <button class="waves-effect waves-light btn custom-btn" type="submit">
        Send me instructions
        <i class="material-icons left">info</i>
    </button>

    <a href="{% url 'index' %}" class="waves-effect waves-light btn custom-btn">
        Back to home
        <i class="material-icons left">arrow_back</i>
    </a>
</form>

{% endblock %}