{% extends 'base.html' %}
{% load materializecss %}

{% block page_title %}Recover your password{% endblock %}
{% block page_header %}Enter a new password!{% endblock %}

{% block content %}

{% if validlink %}

<form method="POST">
    {% csrf_token %}
    {{ form|materializecss }}

    <button class="waves-effect waves-light btn" type="submit">
        Change my password
        <i class="material-icons left">lock</i>
    </button>
</form>

{% else %}

<p>
    The password reset link was invalid, because it has already been used. 
    Please request a new password reset.
</p>

<a href="{% url 'index' %}" class="waves-effect waves-light btn">
    Back to Home
    <i class="material-icons left">arrow_back</i>
</a>

{% endif %}

{% endblock %}