{% extends 'base.html' %}
{% load materializecss %}

{% block page_title %}Recover your password{% endblock %}
{% block page_header %}Enter a new password!{% endblock %}

{% block content %}

{% if validlink %}

<form method="POST">
    {% csrf_token %}
    {{ form|materializecss }}

    <button class="waves-effect waves-light btn" type="submit">Change my password</button>
</form>

{% else %}

<p>
    The password reset link was invalid, possibly because it has already been used. 
    Please request a new password reset.
</p>

<a href="{% url 'index' %}" class="waves-effect waves-light btn">Home Page</a>

{% endif %}

{% endblock %}