/* --------------------------------- general */

body {
    background-color: #f0f0f0;
}

.header {
    margin-bottom: 2rem;
}

.custom-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.quantity-btn {
    margin-left: 3rem;
}

.card-custom {
    position: relative;
    height: 30rem;
}

.card-bottom {
    position: absolute;
    bottom: 1rem;
}

.quantity-field {
    width: 40% !important;
}

.update-quantity-field {
    width: 5rem !important;
}


/* --------------------------------- navbar */

nav {
    background-color: #2e86ab;
}


/* --------------------------------- upload */

.upload-msg {
    margin-top: 2rem;
}