/* --------------------------------- general */

body {
    background-color: #f0f0f0;
}

.header {
    margin-bottom: 2rem;
}

.custom-btn {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-right: 1rem;
}

.quantity-btn {
    margin-left: 3rem;
}

.card-btn{
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-custom {
    position: relative;
    height: 30rem;
}

.card-bottom {
    position: absolute;
    bottom: 1rem;
}

.quantity-field {
    width: 40% !important;
}

.update-quantity-field {
    width: 5rem !important;
}


/* --------------------------------- base.html */

nav {
    background-color: #2e86ab;
}

.flash-message {
    margin-bottom: 2rem;
}


/* --------------------------------- upload */

.upload-msg {
    margin-top: 2rem;
}


/* --------------------------------- shop and admin product card */

.card-header {
    margin-bottom: 2rem;
}


/* --------------------------------- media queries */

@media (max-width: 575px) {
    .custom-btn {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}