{% extends 'base.html' %}
{% load materializecss %}

{% block page_title %}Order form{% endblock %}
{% block page_header %}Order form{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ order_form|materializecss }}

    <button type="submit" class="waves-effect waves-light btn btn-small custom-btn">
        Order
        <i class="material-icons left">done</i>
    </button>
    
    <a href="{% url 'view_cart' %}" class="waves-effect waves-light btn btn-small custom-btn">
        Back to cart
        <i class="material-icons left">arrow_back</i>
    </a>
</form>

{% endblock %}