{% extends 'base.html' %}
{% load materializecss %}

{% block page_title %}Login{% endblock %}
{% block page_header %}Login page{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ login_form|materializecss }}

    <p>
        <a href="{% url 'password_reset' %}">Forgot my password</a>
    </p>

    <button class="waves-effect waves-light btn btn-small custom-btn" type="submit">
        Login
        <i class="material-icons left">done</i>
    </button>

    <a href="{% url 'index' %}" class="waves-effect waves-light btn btn-small custom-btn">
        Back to home
        <i class="material-icons left">arrow_back</i>
    </a>
</form>

{% endblock %}