{% extends 'base.html' %}

{% block page_title %}Cart{% endblock %}
{% block page_header %}Cart{% endblock %}

{% block content %}

{% if cart_items %}

{% for item in cart_items %}

<p>{{item.product.product_name}} {{item.quantity}}</p>

{% endfor %}

{% else %}

<p>No product has been added to the cart yet.</p>

{% endif %}

<a href="{% url 'shop' %}" class="waves-effect waves-light btn btn-small custom-btn">
    Keep shopping
    <i class="material-icons left">arrow_back</i>
</a>

{% endblock %}