<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}</title>

    {% block css %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% endblock css %}
</head>

<body>
    <nav class="nav-wrapper">
        <div class="container">
            <a href="{% url 'index' %}" class="brand-logo">Cloud School</a>

            <ul class="right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="#">Profile</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <h4>{% block page_header %}{% endblock page_header %}</h4>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="green-text">
                {% else %}
                    <div class="red-text">
                {% endif %}
                    {{ message }}
                    </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>

    <footer>

    </footer>

    <!-- Materialize CSS javascript requirements -->
    {% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {

            // Initialize materialize data picker
                $('.datepicker').datepicker({
                    'format': 'yyyy-mm-dd'
                });
                $('select').formSelect();

            });
    </script>
    {% endblock javascript %}
</body>

</html>