{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Load favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>

<body>
    <nav class="nav-wrapper">
        <div class="container">
            <a href="{% url 'index' %}" class="brand-logo">
                <i class="material-icons">cloud</i>
                <span class="hide-on-med-and-down">Cloud school</span>
            </a>

            <a href="#" data-target="mobile" class="sidenav-trigger right">
                <i class="material-icons">menu</i>
            </a>

            <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="#">Profile</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>

            <ul class="sidenav" id="mobile">
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="#">Profile</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <h4>{% block page_header %}{% endblock page_header %}</h4>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="green-text">
                {% else %}
                    <div class="red-text">
                {% endif %}
                    {{ message }}
                    </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>

    <footer>

    </footer>

    <!-- Materialize CSS javascript requirements -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            // Date picker init
            $('.datepicker').datepicker({
                'format': 'yyyy-mm-dd'
            });

            // Select form init
            $('select').formSelect();
            
            // Accordion init
            $('.collapsible').collapsible();
            });

            // Sidenav init
            $('.sidenav').sidenav();
    </script>
</body>

</html>