{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud School | {% block page_title %}{% endblock page_title %}</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Load favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>

<body>
    <!-- Custom container -->
    <div class="custom-container {% block custom-class %}{% endblock %}">

        <!-- Navbar -->
        <nav class="nav-wrapper">
            <div class="container">
                <a href="{% url 'index' %}" class="brand-logo">
                    <i class="material-icons">cloud</i>
                    <span class="hide-on-med-and-down">Cloud school</span>
                </a>

                <a href="#" data-target="mobile" class="sidenav-trigger right">
                    <i class="material-icons">menu</i>
                </a>

                {% with request.resolver_match.url_name as url_name %}

                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}

                    <li class="{% if url_name == 'change_password' %}active{% endif %}">
                        <a href="{% url 'change_password' %}">Change Password</a>
                    </li>

                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>

                    {% else %}

                    <li class="{% if url_name == 'shop' %}active{% endif %}">
                        <a href="{% url 'shop' %}">Shop</a>
                    </li>

                    <li class="{% if url_name == 'login' %}active{% endif %}">
                        <a href="{% url 'login' %}">Login</a>
                    </li>

                    <li class="{% if url_name == 'register' %}active{% endif %}">
                        <a href="{% url 'register' %}">Register</a>
                    </li>

                    <li class="{% if url_name == 'view_cart' %}active{% endif %}">
                        <a href="{% url 'view_cart' %}">
                            {% if product_count > 0 %}
                            <span class="badge red white-text">{{product_count}}</span>
                            {% endif %}

                            <i class="material-icons left">shopping_cart</i>
                        </a>
                    </li>

                    {% endif %}

                </ul>

                <ul class="sidenav" id="mobile">
                    {% if user.is_authenticated %}

                    <li class="{% if url_name == 'change_password' %}active{% endif %}">
                        <a href="{% url 'change_password' %}">Change Password</a>
                    </li>

                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>

                    {% else %}

                    <li class="{% if url_name == 'shop' %}active{% endif %}">
                        <a href="{% url 'shop' %}">Shop</a>
                    </li>

                    <li class="{% if url_name == 'login' %}active{% endif %}">
                        <a href="{% url 'login' %}">Login</a>
                    </li>

                    <li class="{% if url_name == 'register' %}active{% endif %}">
                        <a href="{% url 'register' %}">Register</a>
                    </li>

                    <li class="{% if url_name == 'view_cart' %}active{% endif %}">
                        <a href="{% url 'view_cart' %}">
                            <i class="material-icons">shopping_cart</i>
                        </a>
                    </li>

                    {% endif %}

                </ul>

                {% endwith %}

            </div>
        </nav>
        <!-- ./Navbar -->

        <!-- Main section -->
        <section class="container">
            <h4 class="header">
                {% block page_header %}
                {% endblock page_header %}
            </h4>

            {% if messages %}

            {% for message in messages %}

            {% if message.tags == 'success' %}

            <div class="green-text flash-message">
                {{ message }}
            </div>

            {% else %}

            <div class="red-text flash-message">
                {{ message }}
            </div>

            {% endif %}

            {% endfor %}

            {% endif %}

            {% block content %}
            {% endblock content %}

        </section>
        <!-- ./Main section -->

    </div>
    <!-- ./Custom container -->

    <!-- Footer -->
    <footer class="valign-wrapper">
        <div class="custom-footer">
            &copy; Cloud School 2020
        </div>
    </footer>
    <!-- ./Footer -->

    <!-- Materialize CSS javascript requirements -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Stripe API -->
    <script src="https://js.stripe.com/v3/"></script>

    <!-- Materialize CSS js init -->
    <script>
        $(document).ready(function () {
            // Select form init
            $('select').formSelect();

            // Accordion init
            $('.collapsible').collapsible();
        });

        // Sidenav init
        $('.sidenav').sidenav();
    </script>

    <!-- Load custom js -->
    <script src="{% static 'js/confirm.js' %}"></script>

    {% block postloadjs %}
    {% endblock postloadjs %}

</body>

</html>