{% extends 'base.html' %}

{% block page_title %}List orders{% endblock %}
{% block page_header %}List orders{% endblock %}

{% block content %}

{% if order_list %}

<table class="responsive-table">
    <thead>
        <tr>
            <th>Order number</th>

            <th>Order date</th>
        </tr>
    </thead>

    <tbody>
        {% for item in order_list %}
        
        <tr>
            <td>
                <a href="#">
                    {{item.order_number}}
                </a>
            </td>

            <td>{{item.order_date}}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% else %}

<p>No orders have been added yet.</p>

{% endif %}

<a href="{% url 'dashboard' %}" class="waves-effect waves-light btn btn-small custom-btn">
    Back to dashboard
    <i class="material-icons left">arrow_back</i>
</a>

{% endblock %}