{% extends 'base.html' %}
{% load static %}
{% load materializecss %}

{% block page_title %}Organize a student account{% endblock %}
{% block page_header %}Organize {{student_profile.user.get_full_name}}&apos;s account{% endblock %}

{% block content %}

<ul class="collapsible" data-collapsible="accordion">
    <li class="active">
        <div class="collapsible-header">
            <i class="material-icons">cloud_upload</i>
            {{ student_profile.user.get_full_name }}'s uploaded content
        </div>

        <div class="collapsible-body">
            {% if student_content %}
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Description</th>

                        <th>Download</th>

                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in student_content %}
                    <tr>
                        <td>{{ item.description }}</td>

                        <td>
                            <a href="{{ item.content.url }}" class="waves-effect waves-light btn btn-small btn-small"
                                target="_blank">
                                Download
                                <i class="material-icons left">cloud_download</i>
                            </a>
                        </td>

                        <td>
                            <form method="POST" action="{% url 'delete_content' item.pk %}"
                                onsubmit="return confirmDelete('content');">
                                {% csrf_token %}

                                <button type="submit" class="waves-effect waves-light btn btn-small red">
                                    Delete
                                    <i class="material-icons left">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <p>Nothing is uploaded yet.</p>
            {% endif %}
        </div>
    </li>

    <li>
        <div class="collapsible-header">
            <i class="material-icons left">message</i>
            Messages
        </div>

        <div class="collapsible-body">
            {% if chat %}
            {% for item in chat %}
            <div>
                [{{item.message_date}}] &lt;{{item.from_user.get_full_name}}&gt; {{item.message}}
            </div>
            {% endfor %}
            {% else %}
            <p>No messages yet.</p>
            {% endif %}
        </div>
    </li>
</ul>

<form method="POST" action="{% url 'send_message' profile.pk student_profile.pk %}">
    {% csrf_token %}
    {{ message_form|materializecss }}

    <div id="message-counter"></div>

    <button type="submit" class="waves-effect waves-light btn btn-small card-btn">
        Send message
        <i class="material-icons left">message</i>
    </button>
</form>

<a href="{% url 'dashboard' %}" class="waves-effect waves-light btn btn-small custom-btn">
    Back to teacher dashboard
    <i class="material-icons left">arrow_back</i>
</a>

{% endblock %}

{% block postloadjs %}

<script src="{% static 'js/count.js' %}"></script>

{% endblock postloadjs %}