{% extends 'base.html' %}
{% load materializecss %}

{% block page_title %}Organize a student{% endblock %}
{% block page_header %}Organize a student{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ select_form|materializecss }}
    
    <button type="submit" class="waves-effect waves-light btn custom-btn">
        Select
        <i class="material-icons left">check</i>
    </button>

    <a href="{% url 'dashboard' %}" class="waves-effect waves-light btn custom-btn">
        Back to dashboard
        <i class="material-icons left">arrow_back</i>
    </a>
</form>

{% if student_profile %}
<ul class="collapsible" data-collapsible="accordion">
    <li class="active">
        <div class="collapsible-header">
            <i class="material-icons">cloud_upload</i>
            {{ student_profile.user.get_full_name }}'s uploaded content
        </div>

        <div class="collapsible-body">
            {% if student_content %}
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Description</th>

                        <th>Download</th>
                        
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in student_content %}
                    <tr>
                        <td>{{ item.description }}</td>
                        
                        <td>
                            <a href="{{ item.content.url }}" class="waves-effect waves-light btn btn-small"
                                target="_blank">
                                Download
                                <i class="material-icons left">cloud_download</i>
                            </a>
                        </td>

                        <td>
                            <form method="POST" action="{% url 'delete_content' item.pk %}">
                                {% csrf_token %}
                                
                                <button type="submit" class="waves-effect waves-light btn btn-small red">
                                    Delete
                                    <i class="material-icons left">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
                <p>Nothing is uploaded yet.</p>
            {% endif %}
        </div>
    </li>
</ul>

{% endif %}

{% endblock %}