{% extends 'base.html' %}

{% block page_title %}Student dashboard{% endblock %}
{% block page_header %}Welcome, {{ request.user.get_full_name }}!{% endblock %}

{% block content %}

<h5>User info</h5>
<p>ID: {{ request.user.id }}</p>
<p>Username: {{ request.user.username }}</p>
<p>First name: {{ request.user.first_name }}</p>
<p>Last name: {{ request.user.last_name }}</p>
<p>Email address: {{ request.user.email }}</p>
<p>Account created: {{ request.user.date_joined }}</p>
<p>Last logged in: {{ request.user.last_login }}</p>

<h5>Profile info</h5>
<p>ID: {{ profile.id }}</p>
<p>User type ID: {{ profile.user_type }}</p>
<p>Class ID: {{ profile.classname }}</p>

<p>Current time: {% now "SHORT_DATETIME_FORMAT" %}</p>
{% endblock %}
