{% extends 'base.html' %}
{% load materializecss %}

{% block page_title %}Upload content{% endblock %}
{% block page_header %}Upload content{% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|materializecss }}

    <div class="upload-msg">
        <p>
            Upload .pdf, .jpg, .png, .doc, .docx, .xls or .xlsx file only.
        </p>

        <p>
            The maximum file size is 10MB.
        </p>
    </div>
    
    <button type="submit" class="waves-effect waves-light btn btn-small custom-btn">
        Upload
        <i class="material-icons left">cloud_upload</i>
    </button>
    
    <a href="{% url 'dashboard' %}" class="waves-effect waves-light btn btn-small custom-btn">
        Back to dashboard
        <i class="material-icons left">arrow_back</i>
    </a>
</form>

{% endblock %}