{% extends 'base.html' %}
{% load materializecss %}

{% block page_title %}Upload content{% endblock %}
{% block page_header %}Upload content{% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|materializecss }}
    <p>Upload .pdf, .jpg, .png, .doc, .docx, .xls or .xlsx file only.</p>
    <p>The maximum file size is 10MB.</p>
    <button type="submit" class="waves-effect waves-light btn">Upload</button>
    <a href="{% url 'dashboard' %}" class="waves-effect waves-light btn">Go back</a>
</form>

{% endblock %}